github "Alamofire/Alamofire" ~> 4.3
github "onevcat/Kingfisher" ~> 3.3
github "SnapKit/SnapKit" ~> 3.1.2
github "boyXiong/XWSwiftRefresh"
github "realm/realm-cocoa" ~> 2.4
github "pkluz/PKHUD" ~> 4.0
github "SwiftyJSON/SwiftyJSON"
github "facebook/AsyncDisplayKit"
